[Unit]
Description=GarageWeb
After=network-online.target

[Service]
Type=simple
User=pi
Environment=FLASK_APP=web
WorkingDirectory /home/pi/GarageWeb
ExecStart=/usr/bin/flask run --host=0.0.0.0
Restart=on-abort

[Install]
WantedBy=multi-user.target